<div class="d-flex flex-column gap-5">
  <!-- (~) Active Students Table -->
  <div class="d-flex flex-column gap-3">
    <p class="mb-0 text-navy fw-bold" style="font-size: 20px;">Active Students</p>
    <div class="d-flex flex-row gap-3">
      <div class="container-fluid p-0 m-0 p-3 bg-white rounded-3 d-flex flex-column gap-0 justify-content-center shadow-sm">
        <!-- (~) Table Utilities -->
        <div class="d-flex flex-row align-items-center justify-content-between mb-3">
          <!-- (~) Search Bar -->
          <input type="text" id="searchBar" class="form-control w-25" style="font-size: 14px;" placeholder="Search students ..." oninput="searchActiveStudentTable()">
          <!-- (~) Buttons -->
          <div class="d-flex flex-row gap-2 align-items-center justify-content-center">
            <button class="btn btn-sm btn-gray px-3">
              <i class="bi bi-file-earmark-pdf me-2"></i>
              <span>Export</span>
            </button>
            <a href="students-create" class="btn btn-sm btn-success px-3">
              <i class="bi bi-plus-square me-2"></i>
              <span>Create</span>
            </a>
          </div>
        </div>
        <!-- (~) Table -->
        <div id="activeStudents" class="" ></div>
      </div>
    </div>
  </div>
</div>
